<!doctype html>
<html lang="es">
    <head>
    	<title>Mi primer webapp</title>
    	<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
        <link rel="stylesheet" href="/libs/leaflet.css" />
        
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.1/css/theme.blackice.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cerulean/bootstrap.min.css" type="text/css" />
	
    </head>
    <body class="pageHome">
    	
    	<nav data-spy="affix" class="navbar navbar-inverse" style="width: 100%; z-index: 10000;">
		  <a class="navbar-brand" href="#">Mapa de incendios</a>
		  <ul class="nav navbar-nav">
		    <li class="nav-item active">
		      <a class="nav-link" href="/">Inicio</a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" target="_blank" href="https://github.com/ruizfrontend/pcp-webapp">Repositorio</a>
		    </li>
		  </ul>
		  <ul class="nav navbar-nav pull-right">
		    <li class="nav-item">
		      <a class="nav-link" target="_blank" href="http://www.unir.net/">unir 2016</a>
		    </li>
		  </ul>
		</nav>
		
		<br><br><br><br>
    	<div class="container">
			<div class="jumbotron jumbotron-fluid">
			  <div class="container">
			    <h1 class="display-3">Mapa de incendios de España</h1>
			    <p class="lead">Ejercicio del curso 'el periodista como programador'</p>
			    <p>unir. 2016</p>
			  </div>
			</div>
		</div>
        
		<div id="map" style="width:100%; height:500px;"></div><br>

		<div class="container">
			<h2>Últimos incencios</h2>
			<div style=" width: 100%; overflow-x: auto;">
			    <table id="table" class="table table-striped table-hover table-responsive">
		  			<thead>
				        <tr>
				            <th></th>
				            <th>Municipio</th>
				            <th>Comunidad</th>
				            <th>Provincia</th>
				            <th>Superficie Quemada</th>
				            <th>Fecha</th>
				            <th>Víctimas</th>
				        </tr>
		  			</thead>
			        
		  			<tbody>
					    {% for obj in fires_sorted[-10:] | sort(attribute='FECHA') %}
					        <tr>
					            <td><a class="btn-incendio btn btn-primary" data-incendio="{{ obj['IDPIF'] }}" href="{{ obj['IDPIF'] }}/">Detalle</a></td>
					            <td>{{ obj['MUNICIPIO'].decode('UTF-8') }}</td>
					            <td>{{ obj['COMUNIDAD'].decode('UTF-8') }}</td>
					            <td>{{ obj['PROVINCIA'].decode('UTF-8') }}</td>
					            <td>{{ obj['SUPQUEMADA'] }} m2</td>
					            <td>{{ obj['FECHA'] }}</td>
					            <td>{{ obj['MUERTOS'] }}</td>
					        </tr>
					    {% endfor %}
					 </tbody>
				</table>
			</div>
		</div>
		
	</div>
	
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel1">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
		<a href="#" class="btn btn-primary btn-detalle">Detalle</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

 	<script type="text/javascript" src="/libs/leaflet.js?"></script>
 	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.1/js/jquery.tablesorter.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
 	<script type="text/javascript" src="/libs/myMaps.js"></script>
     
    </body>
</html>